body {
		margin:0;
		font-family: 'VT323', monospace;
}

.title-div {
	font-family: "Work Sans", sans-serif;
	font-size: 76px;
    margin: 0 0 -10px 3px;
}

.subtitle-div {
	font-size: 18px;
	text-align:center;
}

@media all and (max-width: 546px) {
	.title-div { 
		font-size: 50px;
	}
    .subtitle-div { 
		font-size: 14px;
	}
}

#divToCenter {
	pointer-events:none;
	color: rgba(255, 255, 255, .75);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10; /* Ensure the div is above the canvas */
}

canvas {
	background-color:#000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	z-index: 1;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

.neon {
  color: rgba(255, 255, 255, .8);
text-shadow:
     0 0 5px rgba(13, 215, 255, 1),
    0 0 10px rgba(13, 215, 255, 1),
    0 0 20px rgba(13, 215, 255, 1),
    0 0 40px rgba(13, 215, 255, 1),
    0 0 80px rgba(13, 215, 255, 1),
    0 0 90px rgba(13, 215, 255, 1),
    0 0 100px rgba(13, 215, 255, 1),
    0 0 150px rgba(13, 215, 255, 1);
}

.neon-purple {
  color: rgba(247, 188, 239, 1);
  text-shadow:
     0 0 5px rgba(245, 81, 223, 1),
    0 0 10px rgba(245, 81, 223, 1),
    0 0 20px rgba(245, 81, 223, 1),
    0 0 40px rgba(245, 81, 223, 1),
    0 0 80px rgba(245, 81, 223, 1),
    0 0 90px rgba(245, 81, 223, 1),
    0 0 100px rgba(245, 81, 223, 1),
    0 0 150px rgba(245, 81, 223, 1);
}

/* dynamic settings UI */

#settingsIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    font-size:20px;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.55);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
    z-index:999;
}

#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 9999;
}

#settingsFormContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    padding: 20px 0 0 0;
    border-radius: 10px;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		border: 5px solid rgba(13, 215, 255, .6);
    box-shadow: 0 0 50px rgba(13, 215, 255, .6);
}

form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 15px 0;
}

input[type="range"] {
    width: 100%;
}

input[type="number"] {
    width: 100px;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.form-title {
    color: #fff;
    margin:5px 0px 10px 0px;
}

#settings-form h4,
#precompute-velocity label {
	color: #fff;
}

#distance-method {
    display: flex;
    color: #fff;
}

